*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}body{
    font-family: sans-serif;
    background-color: dedede;
}
header .dark-header{
    background-color: black;
    padding: 8px 50px;
    display: flex;
    justify-content: flex-end;
    gap: 30px;
}
header .dark-header img{
    height: 23px;

}
header .main-nav{
    display: flex;
    padding: 20px 20px;
    gap: 30px;
    background-color: white;
}
header .main-nav .humbugger-menu{
    display: flex;
    flex-direction: column;
}
header .main-nav .humbugger-menu:hover{
    transform: scale(1.3);
    transition:500ms ease-in-out;
}
header .main-nav .humbugger-menu:hover span{
    background-color: #da292a ;
}
header .main-nav .humbugger-menu span{
    transition: 500ms ease-in-out;
    background-color: black;
    display: flex;
    flex-direction: column;
    margin: 4px;
    height: 5px;
    width: 5px;
    border-radius: 50%;
    animation: fcus 2s forwards ease-in;
}

/* .humbugger-menu span:hover  {
    display: flex;
    /* animation: fcus 2s forwards ease-in; */
    
/* }
@keyframes fcus {
    
    0%{
        transform: scale(1);
        color: black;
    }
    100%{
        
        transform: scale(1.5);
        color: rgb(224, 224, 65);
    } 
} */ */
header .main-nav .main-logo{
    height: 23px;
}
header .main-nav .nav-list{
    list-style-type: none;
    display: flex;
    position: relative;
}
header .main-nav .nav-list .sub-nav{
    display: none;
    animation: slidedown 0.5s ease 0s 1 normal forwards;
    position: absolute;
    top: 100%;
    padding: 30px;
    background-color: rgba(255, 255, 255, 0.96);
    border-radius: 4px;
}
header .main-nav .nav-list .sub-nav a{
    display: block;
    color: rgb(71, 68, 68);
    text-decoration: none;
    margin: 7px 0;
}
header .main-nav .nav-list .sub-nav-heading{
    padding-right: 25px;
    padding-top: 8px;
    padding-bottom: 8px;
    display: block;
}
/* header .main-nav .nav-list .sub-nav-heading:hover .rotate-element,
header .main-nav .nav-list .sub-nav-heading:hover .rotate-element:hover {
  transform: rotate(180deg);
} */

header .main-nav .nav-list .sub-nav-heading:hover{
    color: #da292a;
    cursor: pointer;
}
header .main-nav .nav-list .sub-nav-heading:hover .rotate-element{
    transform: rotate(-90deg);
}
header .main-nav .nav-list .sub-nav-heading:hover+ .sub-nav {
    display: block;
}

/* .rotate-element {
    display: inline-block;
    transition: transform 0.3s;
  }
  */
  /* .rotate-element:hover { */
    /* transform: rotate(-180deg);
    transition: transform 0.3s;
  } */
/* hero section */
.hero .hero-img-desktop{
    width: 100%;
}
.hero .hero-text{
    position: absolute;
    top: 40%;
    left: 15%;
    right: 50%;
    text-align: center;
/* }
.hero .hero-text h1{
    font-size: 40px; */
}
.hero .hero-text p{
    font-size: 20px;
    margin-top: 5px;
    margin-bottom: 40px;
    /* margin: 30px 20px; */
}
.hero .hero-text a{
    font-size: 20px;
    margin: 17px 20px;
    background-color: #da292a;
    text-decoration: none;
    color: white;
    padding: 20px;
    border-radius: 15px;
}
@keyframes slidedown {
	0% {
		opacity: 0;
		transform: rotateX(-100deg);
        transform-origin: top;
	}

	100% {
		opacity: 1;
    
		transform: rotateX(0deg);
        transform-origin: top;
	}
}
/* featured games section */
.featured > h2{
    text-align: center;
    font-size: 40px;
    margin-top: 50px;
    margin-bottom: 30px;
}
.featured .games{
    display: flex;
    flex-wrap: wrap;
    padding: 0px 100px;
}
.featured .games > a{
    width: 30%;
    height: 250px;
    margin: 10px;
    display: block;
    background-image: url(./images/the-sims-4-keyart.jpg.adapt.crop1x1.767p.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    text-decoration:none;
}
.featured .games > #jedi{
    background-image: url(images/star-wars-jedi-survivor-keyart.jpg.adapt.crop1x1.767p.jpg);
}
.featured .games > #pga-tour{
    background-image: url(images/ea-sports-pgatour-keyart.jpg.adapt.crop1x1.767p.jpg);
} 
.featured .games > #fifa{
    background-image: url(images/eas-fifa22-gen5-ue-keyart-horz-f23logo.jpg.adapt.crop1x1.767p.jpg);
}
.featured .games > #madden{
    background-image: url(images/madden-23-keyart.jpg.adapt.crop1x1.767p.jpg);
}
.featured .games > #apex{
    background-image: url(images/apex-legends-keyart.jpg.adapt.crop1x1.767p.jpg);
}
.featured .games .game{
    background-color: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: all 0.3s ease-in-out;
}

.featured .games .game img{
    width: 30%;
    transition: all 0.3s ease-in-out;
    transform: translateY(35px);
}
.featured .games .game p{
    
    color: white;
    font-size: 18px;
    display: none;
}
.featured .games .game:hover{

    background: linear-gradient(
        to right,
         rgb(65, 57, 209,0.8),
          rgba(221,43,43,0.8) );
}
.featured .games .game:hover p{
    display: block;
}
.featured .games .game:hover img{
    transform: translateY(-27px);
}
.updates >h2{
    text-align: center;
    font-size: 40px;
    margin-top: 50px;
    margin-bottom: 30px;
}
.updates .update-nav{
    border-bottom: 1px solid #d3d3d3;
    padding: 0 80px;
    margin-bottom: 20px;
    display: flex;
}
.updates .update-nav a{
    text-decoration: none;
    padding: 16px 20px;
    display: block;
}
.updates .update-nav a:hover{
    background-color: #d3d3d3;
    border-bottom: 2px solid peru;
}